<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="login-body">
    <div class="flex-div">


        <div class="name-content">
            <a href="/">
                <img src="/images/main.png">
            </a>
            <p>You Search, We Compare</p>
        </div>
        <div class="form-container">
            <div class="item-container">
                <h2 class="log-in">Register</h2>
            </div>
            <form>
                <div class="form-input">
                    <label for="name" class="label">Name</label>
                    <input type="text">
                </div>
                <div class="form-input">
                    <label for="email" class="label">Email</label>
                    <input type="text">
                </div>
                <div class="form-input">
                    <label for="Password" class="label">Password</label>
                    <input type="password">
                </div>
                <div class="form-input">
                    <label for="Rpassword" class="label">Repeat Password</label>
                    <input type="password">
                </div>
                <div>
                    <button class="submitButton form-button" type="submit">Register</button>
                </div>
                <hr>
                <a style="margin-left: 30%;">Already have an account ?</a>
                <div>
                    <button class="submitButton form-button" href="/login">Login</button>
                </div>
            </form>
            <div class="display-space-between">
                <a class="formAnchor" href="#">Privacy Policy</a>
                <a class="formAnchor" href="#">Terms & condition</a>
            </div>
        </div>
    </div>
</body>

</html>